 *{
    margin: 0;
}

#cabecera {
    display: flex;
    flex-direction: column;
}

#cabecera > div > a:visited {
    color: inherit;
}

#cabecera > div > a:hover {
    background-color: rgb(240, 240, 240);
}

#cabecera > div:nth-child(1){
    display: flex;
    flex-direction: row;
    /* Estilo 1: */
    justify-content: right;
    font-family: Arial, sans-serif;
    
    /* Estilo 2: */
    /*justify-content: space-between;*/
}

#cabecera > div:nth-child(1) > a{
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    color: black;
}

#cabecera > div:nth-child(2){
    background-image: url(../Imagenes/encabezadoEditado.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 7vh;
    padding-bottom: 7vh;
    text-align: center;
}

#cabecera > div:nth-child(2) > h1 { 
    color: white;
    text-shadow: 0 0 10px black;
    
}


#HeroSection > div > p{

    display: block;
    margin: 15px;
    text-align: center;
}


@media (max-width: 425px){
    #cabecera > div:nth-child(1) > a{
        padding: 0.5rem;
    }
}

@media (max-width: 350px){
    #cabecera > div:nth-child(1) > a{
        padding: 0.25rem;
    }
}

footer{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: black;
    color: white;
}

footer a {
    color: white;
    text-decoration: none; 
    margin-left: 5px;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: white;
}

footer a:active {
    color: white;
}
